<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>Uno Card</title>
    
    <link rel="stylesheet" href="game.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="game.js"></script>
    
</head>
<body background="/drawingResources/background.jpg">
<div ng-app="gameApp" ng-controller = "gameController" ng-init="init()">
<div class="statusBar">
    <h1> Uno Card </h1> 
</div>
<div class="center">
    <span ng-bind="data.table.acrossName" ></span>
    :
    <span ng-bind="data.table.acrossCount"></span>
    cards
</div>
<div>
    <div class = "left">
    <span ng-bind="data.table.leftName"></span>
    :
    <span ng-bind="data.table.leftCount"></span>
    cards
    </div>
    <div class="right">
    <span ng-bind="data.table.rightName"></span> 
    :
    <span ng-bind="data.table.rightCount"></span>
    cards
    </div>
    <div class="center">
        <img ng-src="{{data.table.topCard.url}}" height="200px">
    </div>
    
</div>
<br>
<div class="messageBox">
<span ng-bind="message"></span>
</div>
    <br>
<div class="center">
    <span ng-bind="data.table.myName"></span>
    :
    <span ng-bind="data.table.myCount"></span>
    cards
    <br>
</div>
<div class="center cardBox">
    <div class="row" ng-repeat="cardRow in data.table.hand">
        <div class="column" ng-repeat="card in cardRow">
        <img ng-src="{{card.url}}" alt="Image of card" height="100px" ng-click="playCard(card.index)">
        </div>
    </div>
    
</div>
</div>    
</body>
</html>