<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>Uno Card</title>
    
    <link rel="stylesheet" href="game.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="game.js"></script>
    
</head>
<body>
<div ng-app="gameApp" ng-controller = "gameController" ng-init="init()">
    <span ng-bind="data.table.acrossName" class="center"></span>
    <span ng-bind="data.table.acrossCount" class="center"></span>
    <div>
    <span ng-bind="data.table.leftCount" class = "left"></span>
        <img ng-src="{{data.table.topCard.url}}" height="200px">
    <span ng-bind="data.table.rightCount" class="right"></span>
    </div>
    <div>
        <span ng-bind="data.table.leftName" class = "left"></span>
        <span ng-bind="data.table.rightName" class="right"></span>
    </div>

    
    <span ng-bind="data.message" class="center"></span>
    <br>
    <span ng-bind="data.table.myCount" class="center"></span>
    <br>
    <span ng-bind="data.table.myName" class="center"></span>
    <div class="row">
        <div class="column" ng-repeat="card in data.table.hand">
        <img ng-src="{{card.url}}" alt="Image of card" height="100px" ng-click="playCard(card.index)">
        </div>
    </div>
</div>    
</body>
</html>