.row {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}

.column {
    display: flex;
    flex-direction:column;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}