<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>Uno Card</title>
    
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="game.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="game.js"></script>
    
</head>
<body background="/drawingResources/background.jpg">
<div ng-app="gameApp" ng-controller = "gameController" ng-init="init()">
<div class="right">
    <span ng-bind="auth.userID" class="smallMargin"></span>
    <a class="btn btn-primary right smallMargin" href="/instructions.html" target="_blank" role="button">Instructions</a>
    <button type="button" class="btn btn-primary right smallMargin" ng-click="signOut()">Forfeit</button>
    
</div>
<div class="statusBar smallMargin">
    <h1> Uno Card </h1>     
</div>
<div class="center ">
    <span ng-bind="data.table.acrossName" ></span>
    :
    <span ng-bind="data.table.acrossCount"></span>
    cards
    <img ng-src="/drawingResources/{{data.table.acrossCount}}.png" height="100px">
</div>
<div>
    <div class = "left smallMargin">
    <span ng-bind="data.table.leftName"></span>
    :
    <span ng-bind="data.table.leftCount"></span>
    cards
    <img ng-src="/drawingResources/{{data.table.leftCount}}.png" height="100px" class="rotate90">
    </div>
    <div class="right smallMargin">
    <img ng-src="/drawingResources/{{data.table.rightCount}}.png" height="100px" class="rotate270">
    <span ng-bind="data.table.rightName"></span> 
    :
    <span ng-bind="data.table.rightCount"></span>
    cards
    </div>
    <div class="center">
        <img ng-src="{{data.table.topCard.url}}" alt="{{card.type}} {{card.color}} {{card.number}}" height="200px">
        Draw Cards:
        <img src="/drawingResources/cardFaceDown.png" height="100px" alt="Draw card pile" ng-click="drawCard()">
    </div>    
</div>
<br>
<div class="attackBox" ng-show="data.table.attackCount > 0">
Attack Count: <span ng-bind="data.table.attackCount"></span>
</div>
<br>
<div class="messageBox" ng-show="(data.table.attackCount > 0) && (data.table.turnPlayerId == data.table.myPlayerId)">
You must draw or play an Attack Card
</div>
<div class="messageBox" ng-show="data.table.topCard.number == 10">
The chosen color is <span ng-bind="data.table.topCard.setColor"></span>
</div>
<div class="messageBox">
<span ng-bind="message"></span>
</div>
    <br>
<div class="center">
    <span ng-bind="data.table.myName"></span>
    :
    <span ng-bind="data.table.myCount"></span>
    cards
    <br>
</div>
<div class="center cardBox">
    <div class="row" ng-repeat="cardRow in data.table.hand">
        <div class="column" ng-repeat="card in cardRow">
        <img ng-src="{{card.url}}" alt="{{card.type}} {{card.color}} {{card.number}}" height="100px" ng-click="playCard(card)">
        </div>
    </div>
</div>
<br>
<div ng-show = "showColorChooser" class="colorChooseBox">
    Choose wild card color: <br>
    <button type="button" class="btn btn-danger center" ng-click="playPopup('red')">Red</button>
    <button type="button" class="btn btn-warning center" ng-click="playPopup('yellow')">Yellow</button>
    <button type="button" class="btn btn-success center" ng-click="playPopup('green')" ng-show="temp.number != 15">Green</button>
    <button type="button" class="btn btn-primary center" ng-click="playPopup('blue')">Blue</button>
    <br>
    <br>
</div>
<br>
<br>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>      
</body>
</html>