<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>Uno Card</title>
    
    <link rel="stylesheet" href="lobby.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="lobby.js"></script>
    
</head>
<body>
<div ng-app="lobbyApp" ng-controller = "lobbyController" ng-init="init()">
<div class="statusBar">
    <h1> Uno Card Lobby </h1> 
    <form class="right">
        <span ng-bind="userID"></span>
        <input type="submit" value="Sign Out" ng-click="signOut()">
    </form>
</div>
    <span ng-bind="message"></span>
    <div class="lobby" ng-repeat="lobby in lobbies">
    
        <div ng-repeat="name in lobbies.names">
            <span class="name" ng-bind="name"></span>
        </div>
        <form>
            <input type="submit" value="Join lobby" ng-click="joinLobby(lobby.gameID)" ng-show="currentLobby == 0">
            <input type="submit" value="Leave lobby" ng-click="leaveLobby(lobby.gameID)" ng-show="currentLobby == lobby.gameID">
            <input type="submit" value="Start game" ng-click="startGame(lobby.gameID)" ng-show="(lobby.names.length == 4) && (lobby.partyLeader = userIDs)">
        </form>  
    </div>
    <form>
    <input type="submit" value="Create lobby" ng-click="createLobby()">
    </form> 
</div>    
</body>
</html>