<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>Uno Card</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="lobby.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="lobby.js"></script>
    
</head>
<body background="/drawingResources/background2.jpg">

<div ng-app="lobbyApp" ng-controller = "lobbyController" ng-init="init()">
<div class="statusBar">
    <h1> Uno Card Lobby </h1> 
    <div class="right">
        <span ng-bind="userID"></span>
        <button type="button" class="btn btn-primary right" ng-click="signOut()">Sign Out</button>
        <a class="btn btn-secondary right" href="/instructions.html" target="_blank" role="button">Instructions</a>
    </div>
</div>
    <div class="lobby" ng-repeat="lobby in lobbies">
        <div class="left">
        Party Leader: <span ng-bind="lobby.partyLeader"></span>
        </div>
        <div ng-repeat="name in lobby.names" class="right">
            <span class="name" ng-bind="name"></span>
            <button type="button" class="btn btn-danger right" ng-click="kickFromLobby(name, lobby.gameID)" ng-show="(lobby.partyLeader == userID) && (name != userID)">Kick</button>          
        </div>
        <span ng-show="lobby.isStarted">Game in progress</span>
        <button type="button" class="btn btn-primary right" ng-click="joinLobby(lobby.gameID)" ng-show="(currentLobby == 0) && (!lobby.isStarted)">Join lobby</button>
        <button type="button" class="btn btn-primary right" ng-click="leaveLobby(lobby.gameID)" ng-show="currentLobby == lobby.gameID">Leave lobby</button>
        <button type="button" class="btn btn-primary right" ng-click="startGame(lobby.gameID)" ng-show="lobby.partyLeader == userID">Start game</button>
        <br>
        <span ng-bind="lobby.names.length"></span>/4 players<br>
        <span ng-show="(currentLobby == lobby.gameID) && (lobby.names.length < 4)">Note: Your party will be filled with computer players</span>
         
    </div>
    <br>

<div class="messageBox">
<span ng-bind="message"></span>
<br>
<button type="button" class="btn btn-primary" ng-click="createLobby()">Create lobby</button>
    <button type="button" class="btn btn-primary" ng-click="updateLobbies()">Refresh</button>
</div>
    

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>    
</body>
</html>