<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>Login</title>
    
    <link rel="stylesheet" href="login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="login.js"></script>
</head>
<body>
    <div class="login">
        <p class="title">
           Welcome to Uno Card!
        </p>
        <div ng-app="loginApp">
        <form ng-submit="login" ng-controller="loginController" ng-init="testForLoggedIn()">
            <input type="text" ng-model="formData.username"placeholder="Username" ng-required="true">
            <br><br>
            <input type="text" ng-model="formData.password" placeholder="Password" ng-required="true">
            <br><br>
            <input type="submit" value="Sign in" ng-click="signIn()">
            <input type="submit" value="Register" ng-click="register()">
            <br>
            <br>
            <div ng-show="formData.isError" class="onError">
            <p>{{formData.message}}</p>
            </div>
            <div ng-show="formData.isSuccess" class="onSuccess">
            <p>{{formData.message}}</p>
            </div>
        </form>
        </div>
    </div>
</body>
</html>